/* Remove horizontal scrollbar */
body {
    overflow-x: hidden;
}

/* Add this style for adjusted spacing */
.gallery-item {
    width: calc(33.33% - 18px); /* Adjust as needed */
    margin: 9px; /* Adjust as needed */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.gallery-item img,
.gallery-item video {
    width: 60%; /* Increase by 10% */
    height: 60%; /* Increase by 10% */
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease;
    display: block; /* Ensure proper centering */
    margin: auto; /* Center the items */
}

.gallery-item video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Increase by 10% */
    height: 60%; /* Increase by 10% */
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05); /* Slight expansion on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow on hover */
}

#imageContainer {
    margin: 0 auto;
    justify-content: center;

}

img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

img:hover {
    opacity: 50%;
}